<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>首页</h1>
    <form th:action="@{/testRequestBody}" method="post">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" value="测试@RequestBody">
    </form>

    <form th:action="@{/testRequestEntity}" method="post">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" value="测试@testRequestEntity">
    </form>
    <a th:href="@{/testResponseBody}">测试testResponseBody</a><br>

    <a th:href="@{/testResponseUser}">测试testResponseUser</a>

    <div id="app">
        <a @click="testAxios" th:href="@{/testAxios}">测试testAxios</a>
    </div>

    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
    <script type="text/javascript">
        var vue = new Vue({
            el: "#app",
            methods: {
                testAxios(event){
                    axios({
                        methods:"post",
                        url: event.target.href,
                        params: {
                            username: "admin",
                            password: "123456"
                        }
                    }).then(response => {
                        alert(response.data)
                    })
                    event.preventDefault()
                    
                }
            }
        });
    </script>
</body>
</html>